services:
  db:
    image: postgres:latest
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: MoviesDB
    ports:
      - "5432:5432"
    volumes:
      - "./db/seed.sql:/docker-entrypoint-initdb.d/seed.sql"